:root {
  --control-label-font-size: 30px;
}

body {
  margin: 0;
  font-family: 'Martel', serif;
  font-size: 12px;
}

header {
  background-color: #2C2C2C;
  color: white;
}

.fixed-width-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.fixed-width-container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

header input {
  background-color: #3C3C3C;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
}

header input::placeholder {
  color: #808080;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  margin: 0 1rem;
}

h1 {
  font-family: 'Baloo Thambi', cursive;
  font-size: 48px;
  margin-bottom: 0;
  line-height: 48px;
  flex-shrink: 5000;
}

.error-metadata {
}

dl {
  margin: 0;
}
dt:before {
  content: "";
  display: block;
}
dt, dd {
  display: inline;
}
dd {
  margin-left: 0.5rem;
}

.error-message {
  font-size: 24px;
  margin: 1rem 0;
}

h3 {
  font-size: 30px;
  font-family: 'Baloo Thambi', cursive;
  line-height: 30px;
  margin-bottom: 10px;
}

.primary {
  font-size: 16pt;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: none;
  background-color: #4690FF;
  color: white;
  font-weight: bold;
}

button.edit {
  font-size: 16pt;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: none;
  background-color: #C4C4C4;
  color: white;
  font-weight: bold;
  float: right;
}

div.template a.edit {
  float: right;
  font-size: 18px;
  margin-top: 5px;
}

.template-text {
  background-color: #E5E5E5;
  border-radius: 10px;
  padding: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #E5E5E5;
  border-bottom: 1px solid black;
  font-size: 18px;
}

tbody tr:nth-child(2n) {
  background-color: #E5E5E5;
}

th, td {
  text-align: left;
}

thead th:first-child,
thead th:last-child,
tbody td:first-child,
tbody td:last-child {
  text-align: right;
}

th, td {
  padding: 0 5px;
}

button.secondary {
  font-size: 19px;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: #5C5C5C;
  color: white;
  font-weight: bold;
  margin: 3px;
}

button.secondary:active {
    background-color: #e5e5e5;
    color: #5c5c5c;
}

button.selected {
    background-color: #e5e5e5;
    color: #5c5c5c;
}

button.secondary:disabled {
    background-color: #c1c3c5;
    color: #d0d0d0;

}

div.title{
    display: flex;
}

div.controls {
    display:flex;
    flex-direction: column;
    margin-top:auto;
  /* margin: 30px; */
}

div.top {
  margin-bottom: 30px;
}

div.control-label {
  text-align: left;
  font-family: 'Baloo Thambi', cursive;
  font-size: var(--control-label-font-size);
  display:inline;
  margin: 5px;
  /* margin: 1px; */
}

#sortbyLabel{
    padding-right:14px;
}

div.filter-controls {
  font-family: 'Baloo Thambi', cursive;
  font-size: var(--control-label-font-size);
}

select {
  background-color: #E5E5E5;
  border-radius: 4px;
  padding: 0.3rem .2rem;
}

.explanation-textarea {
  width: 100%;
  height: 15em;
  border: 1px solid black;
  padding: 0.3em;
  font-family: 'Martel', serif;
}

.explanation-text{
  white-space:pre-wrap;

}

.yes {
  color: #27AE60;
}

.no {
  color: #F10D0D;
}

.hidden {
    display: none;
}

.bottom-nav {
    display: flex;
    justify-content: space-between;
}
